<!DOCTYPE html>
<html>
	<head>
		<title>Bird Conservation - Home</title>
		<link type="text/css" rel="stylesheet" href="/static/styles.css"/>
    	<link rel="shortcut icon" href="/static/eric_favicon.ico" type="image/x-icon">
		<meta charset="utf-8"/>
	</head>
	<body>
	  <header>
    <nav>
        <ul>
            <li>Home</li>
            <li><a href="young">Young</a></li>
            <li><a href="old">Old</a></li>
            <li><a href="todoList">To-do list</a></li>
            <li><a href="calculator">Calculator<a></li>
        </ul>
    </nav>
	  </header>
	  <main>
	    
	    <h1>Saving Eric</h1>
	    
	    <p>
	      This website is about <strong>Eric</strong> conservation.
	    </p>
	    
	    <p>
	      <em><strong>Eric</strong></em> is a mysterious creature that lives in the forbidden jungle called <strong>35 Hayden street</strong>.
	    </p>
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.977086729631!2d-79.38680554876937!3d43.66944635929515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34ade61c0aa9%3A0x31b58fd628600f5b!2s35%20Hayden%20St%2C%20Toronto%2C%20ON%20M4Y%203C3!5e0!3m2!1sen!2sca!4v1595629621406!5m2!1sen!2sca" width="400" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	    
	    <l1>
  	    <p>
  	      Here are two examples of Erics
  	    </p>
  	    
  	    <ol>
            <li><a href="young">Young Eric</a></li>
            <li><a href="old">Old Eric</a></li>
        </ol>
      </l1>
	    
	    
	  </main>
	  <footer>
	    
	  </footer>
	</body>
</html>

