<!DOCTYPE html>
<html>
	<head>
		<title>Eric Conservation - Old Eric</title>
		<link type="text/css" rel="stylesheet" href="/static/styles.css"/>
		<meta charset="utf-8"/>
	</head>
	  <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="young">Young</a></li>
            <li>Old</li>
            <li><a href="todolist">To-do list</a></li>
        </ul>
    </nav>
	  </header>
	
	    <iframe width="400" height="250" src="https://www.youtube.com/embed/Cd0JH1AreDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  
	<a href="/">return</a>
</html>