<!DOCTYPE html>
<html>
	<head>
		<title>Eric Conservation - Young Eric</title>
		<link type="text/css" rel="stylesheet" href="/static/styles.css"/>
		<meta charset="utf-8"/>
	</head>
	  <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Young</li>
            <li><a href="old">Old</a></li>
            <li><a href="todolist">To-do list</a></li>
        </ul>
    </nav>
	  </header>
	<a href="https://www.facebook.com/ericliuerkang">
	  <img src="1040617_10201147554148845_1131560474_o.jpg" alt="A young Eric" width="400px" />
	</a>
	<a href="/">return</a>
</html>